body, html{
	height:100%;
	margin: 0;
    font-family:"arial", "Helvetica", "sans-serif";
	font-weight:400;
    font-size:18px; 
    line-height:1.8em;
    color:#666;

}

.img1, .img2, .img3
{
	position: relative;
	opacity: 0.7;
background-attachment: fixed;
background-size: cover;
background-position:center;

background-repeat: no-repeat;


}


.img1{
	background-image: url(img1.jpg);
	min-height:100%;
}

.img2{
	background-image: url(img2.jpg);
	min-height:500px;
}

.img3{
	background-image: url(img3.jpg);
	min-height:500px;
}
 
.sec{
	text-align: center;
	padding:50px 80px;
}

.seclight{
	background-color:#f4f4f4;
	color:#666; 
}

.secdar{
	background-color: #282e34;
    color: #ddd ;
}

.text{
	position: absolute;
	top:40%;
	width:20%;
	left:40%;
	text-align: center;
        color:#f4f4f4;
        font-size: 20px;
        letter-spacing: 8px;
        border:1px solid white;
 
    }

.text:hover{
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}


li a:hover {
  background-color: #111;
  color:black;
  background-color: white; 
  opacity:0.4;
  font-size:20px;
  transition-duration: 1.5s;

  
}





































